<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARQ4vdjGOdPHWvdLqj-9cu5cpl4huO4Dw</string>
	<key>GCM_SENDER_ID</key>
	<string>235732202522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.outcode.suite.dev</string>
	<key>PROJECT_ID</key>
	<string>outcode-suite-app</string>
	<key>STORAGE_BUCKET</key>
	<string>outcode-suite-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235732202522:ios:9bde8d10be2eb8398b0da3</string>
</dict>
</plist>